@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif; font-size: 12px; color: #666; } 
li{ list-style: none; }
a{ text-decoration: none; } 
img{ border: none; }
table{ border-spacing: 0; border-collapse: collapse; }
adress{ font-style: normal; }
fieldset{ border: none; }
legend{ position: absolute; left: -999em; }
label.away{ position: absolute; left: -999em; }
input[type=button], input[type=submit], input[type=reset], input[type=image], button{ cursor: pointer; }
body{ background-color: #1a1b1e; }
header{ width: 100%; min-width: 1180px; height: 100px; position: fixed; z-index: 10000; background-color: rgba(0,0,0,0.2); }
footer{ width: 100%; min-width: 1180px; height: 435px; background-color: #000; }

/* header */
/* logo */
header h1{ float: left; position: absolute; top: 30px; left: -55px; }

/* hside */
.hside { float: right; width: 140px; height: 60px; position: relative; top: 15px; right: -140px; text-align: right; }
.hside ul{ height: 25px; overflow: hidden; }
.hside li{ float: left; padding-right: 18px; box-sizing: border-box; }
.hside .last{ padding: 0; }
.hside a{ height: 20px; font-size: 10px; color: #fff; line-height: 20px; }

.hside .global{ display: block; background-image: url(../img/common/hside_global_icon.png); background-repeat: no-repeat; background-position: 75px 5px; }

.hwrap .hside form { height: 25px; position: relative; }
.hwrap .hside input, .hwrap .hside button { border: none; outline: none; background: transparent; }
.hwrap .hside input { width: 100%; height: 25px; background-color: rgba(0,0,0,0.2); }
.hwrap .hside button { height: 25px; width: 25px; position: absolute; top: 0; right: 0; cursor: pointer; background-image: url(../img/common/hside_search_logo.png); background-repeat: no-repeat; background-position: center; }
.hwrap .hside input[type="text"]{ padding-left: 5px; color: #dddddd; }

/* gnb */
.hwrap{ width: 1180px; height: 100px; margin: 0 auto; position: relative; }
.hwrap .gnb{ float: left; width: 1180px; height: 40px; padding: 0 150px 0; box-sizing: border-box; }
.gnb .gnb_list > li{ float: left; position: relative;}
.gnb .gnb_list > li > a { font-size: 16px; font-weight: 500; color: #fff; padding-bottom: 14px; }
.gnb > ul > li { height: 22px; text-align: center; line-height: 22px; margin-right: 85px; }   
.gnb .last { margin: 0; }

.subnav{ width: 100%; height: 250px; padding: 45px 0; box-sizing: border-box; position: absolute; top: 40px; left: 0; z-index: 5100; }
.subnav li{ width: 105px; height: 30px; line-height: 30px; text-align: left; }
.subnav li a{ font-size: 12px; color: #fff; }

.gnb li:hover .mainnav{ color: #ffcc00; border-bottom: 3px solid #ffcc00; }
.subnav li a:hover{ color: #ffcc00; }

.headerbg{ width: 100%; height: 100px; background-color: #09090a; z-index: 5050; }
.subbg{ width: 100%; height: 250px; background-color: #09090a; border-top: 1px solid #ccc; box-sizing: border-box; position: absolute; top: 100px; left: 0; z-index: 5050; }

header.on{ height: 70px; border-top: 1px solid #ccc; box-sizing: border-box; background-color: #000; }
header.on .global{ display: none; }
header.on h1{ top: 7px; }
header.on .gnb{ float: none; padding-top: 30px;}
header.on .subbg{ top: 69px;}
header.on .hside{ top: 10px;}
header.on .hside input{ border: 1px solid #fff; box-sizing: border-box;  }

/* footer */
footer .ftop{ width: 100%; min-width: 1180px; height: 345px; margin: 0 auto; border-bottom: 1px solid #ccc; box-sizing: border-box; }
footer .fcontent{ width: 1180px; height: 345px; padding-top: 40px; margin: 0 auto; box-sizing: border-box; position: relative; }
.fcontent .footerlogo{ float: left; width: 170px; margin-right: 150px; }
.fcontent .footerlogo h2{ width: 100%; height: 45px; margin-bottom: 35px; }

footer .fmenu{ float: left; width: 540px; margin-right: 150px; }
footer .fmenu > ul > li{ float: left; width: 25%; text-align: center; }
footer .fmenu h3, .family h3{ margin-bottom: 30px; font-size: 15px; line-height: 15px; font-weight: bold; color: #fff;  }
footer .fmenu >ul > li > ul > li > a, .fmenu05 ul > li > a  { font-size: 11px; line-height: 40px; color: #fff; }

footer .fright{ float: right; width: 170px; }
.family{ width: 160px; height: 150px; box-sizing: border-box; position: absolute; top: -90px; right:20px; overflow: hidden; }
.family button{ width: 160px; height: 35px; border: none; padding: 10px; font-size: 15px; line-height: 15px; text-align: left; color: #fff; background-color: #000; cursor: pointer; position: absolute; top: 115px; z-index: 10; }
footer .family .fadd{ display: block; float: right; width: 15px; height: 15px; background-image: url(../img/common/footer_family_icon.png); background-repeat: no-repeat; transition: 0.5s; }
.family ul{ padding: 10px; width: 160px; height: 115px; border: 1px solid #fff; border-bottom: none; background-color: #000; box-sizing: border-box; position: absolute; top: 150px; z-index: 9; }
.family li{ margin-bottom: 15px; }
.family .last{ margin: 0; }
.family li a{ font-size: 12px; color: #FFFFFF; }
.family li a:hover{ color: #ffcc00; }

.family button .fadd.on{ transform: rotate(180deg); }
.family button.on{border: 1px solid #fff; }

footer .fmenu05{ margin-top: 40px; }
footer .fmenu05 ul > .last{ margin-bottom: 30px; }
footer .sns a{ display: block; float: left; width: 20%; }

footer .addre{ width: 1180px; margin: 0 auto; }
footer .addre address{ float: left; margin-right: 150px; padding-top: 10px; box-sizing: border-box; font-size: 11px; line-height: 20px; font-style: normal; color: #ededed; }
footer .addre p{ float: right; padding-top: 10px; box-sizing: border-box; font-size: 11px; line-height: 11px; color: #ededed;  }

/* popup */
.popup{ width: 420px; height: 315px; background-color: transparent; border-top: 2px solid #fff; border-bottom: 2px solid #fff; box-sizing: border-box; position: absolute; top: 250px; left: 0; right: 0; margin: 0 auto; z-index: 12000; }

.popup .ptop{ width: 100%; height: 285px;  padding: 20px; box-sizing: border-box; position: relative; }
.popup .ptop a{ display: block; width: 17px; height: 17px; background-image: url(../img/main/popup_close_btn.png); position: absolute; top: 0; right: 0; }
.popup .ptop h3{ font-size: 28px; color: #fff; margin-bottom: 20px; text-align: center; }
.popup .ptop p{ color: #fff; font-size: 13px; }
.popup .ptop img{ display: block; width: 80px; margin: 0 auto; margin-top: 30px; }
.popup .ptop .pleft{ display: inline-block; float: left; width: 190px; height: 200px; padding-top: 10px; padding-right: 10px; border-top: 1px solid #fff; border-right: 1px solid #fff; box-sizing: border-box; text-align: center; }
.popup .ptop .pright{ display: inline-block; float: right; width: 190px; height: 200px; padding-top: 15px; padding-left: 15px; border-top: 1px solid #fff; box-sizing: border-box; text-align: center; }
.popup .pbottom{ width: 100%; height: 30px; box-sizing: border-box; text-align: center; line-height: 29px; box-sizing: border-box; }
.popup .pbottom label{ font-size: 13px; color: #fff; margin-right: 10px; }
.popup .pbottom input{ position: relative; top: 1px; }
.blackbg{ position: fixed; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 11000; top: 0;  }




