/* loginbox */
.loginbox{ width: 500px; height: 500px; padding: 65px 80px; box-sizing: border-box; }
.loginbox h2{ width: 100%; height: 70px; font-size: 36px; line-height: 36px; text-align: center; font-weight: 500; text-transform: uppercase; color: #fff; margin-bottom: 30px; }
#loginid, #loginpw{ display: block; width: 100%; height: 50px; margin-bottom: 20px; box-sizing: border-box; border: 1px solid #999; background-color: transparent; font-size: 16px; text-align: center; color: #999; background-repeat: no-repeat; background-position: 15px center; }
#loginid{ background-image: url(../img/hside/login_icon.png); }
#loginpw{ background-image: url(../img/hside/password_icon.png); }
#loginbtn{ display: block; width: 100%; height: 55px; border: none; background-color: #ffcc00; color: #fff; font-size: 20px; margin-bottom: 10px; }
#joinbtn{ display: block; width: 100%; height: 55px; border: none; background-color: transparent; border: 1px solid #ffcc00; color: #fff; font-size: 20px; margin-bottom: 10px; }

.loginbox div{ width: 100%; margin-bottom: 20px; position: relative; }
.loginbox div input{ position: absolute; left: -999em; }
.loginbox div span{ font-size: 14px; line-height: 14px; color: #999; }
.loginbox div .input-helper:before{ content: ''; display: inline-block; width: 15px; height: 15px; background-color: transparent; border: 1px solid #999; box-sizing: border-box; position: relative; top: 2px; margin-right: 10px; }
.loginbox div .input-helper:after{ content: ''; display: inline-block; width: 11px; height: 11px; background-color: #ffcc00; border-radius: 1px; position: absolute; top: 4px; left: 2px; transform: scale(0,0); }
.loginbox div input:checked + .input-helper:after{ transform: scale(1,1); }
.loginbox ul{ float: right; height: 20px;  }
.loginbox li{ float: left; margin-left: 20px; height: 20px; text-align: center; }
.loginbox li a{ font-size: 14px; line-height: 14px; color: #999; }







