/* main */
main{ width: 100%; overflow: hidden; }
main .flex-control-nav{ bottom: 10px; z-index: 100;}
main .flex-control-paging li a{ width: 12px; height: 12px; border: 2px solid #fff; background-color: transparent; box-shadow: none; box-sizing: border-box; }
main .flex-control-paging li a.flex-active{ border: 2px solid #ffcc00; background-color: #ffcc00; }

/* title */
h3{ width: 100%; height: 40px; margin-bottom: 10px; font-size: 24px; line-height: 24px; text-align: center; font-weight: 700; color: #fff; }

/* product */
.product{ width: 100%; overflow: hidden; padding: 20px 10px; box-sizing: border-box; }
.product ul{ display: flex; }
.product li{ flex: 1; width: 100%; height: 120px; padding: 20px 0; box-sizing: border-box; border: 1px solid #fff; margin-right: 5px; text-align: center; }
.product li:last-child{ margin: 0; }
.product li h4{ font-size: 12px; color: #fff; font-weight: 500; }
.product li img{ height: 55px; margin-bottom: 10px; }

/* ipohne5 & se */
@media screen and (max-width:320px){
    .product li h4{ font-size: 10px; }
}

/* banner */
.banner{ width: 100%; overflow: hidden; padding: 20px 0; box-sizing: border-box; }
.banner .swiper-slide img{ width: 100%; overflow: hidden; }
.banner .swiper-pagination{ width: 100%; }
.banner .swiper-pagination span{ margin-right: 10px; }
.banner .swiper-pagination-bullet{ width: 12px; height: 12px; border: 2px solid #fff; background-color: transparent; box-sizing: border-box; opacity: 1; }
.banner .swiper-pagination-bullet-active{ border: 2px solid #ffcc00; background-color: #ffcc00; }

/* video */
.video{ width: 100%; overflow: hidden; padding: 20px 0; box-sizing: border-box; }
.video .playbtn{ display: block; width: 30px; height: 35px; background-image: url(../img/main/video_icon.png); background-size: 25px; background-repeat: no-repeat; background-position: center; position: absolute; top: 80px; left: 140px; }
.video .time{ display: inline-block; width: 50px; height: 20px; text-align: center; border-radius: 5px; color: #fff; background-color: rgba(0,0,0,0.5); position: absolute; bottom: 10px; right: 20px; }

.video .swiper-slide{ width: 300px; overflow: hidden; position: relative; }
.video .swiper-slide img{ height: 190px; }

/* gallery */
.gallery .flexslider{ width: 100%; overflow: hidden; padding: 10px 0; box-sizing: border-box; position: relative; }
.gallery h3{ position: absolute; z-index: 100; top: 40px; left: 0; }
.gallery h4{ width: 100%; text-align: center; font-size: 16px; position: absolute; z-index: 100; bottom: 105px; color: #d9d9d9; }
.gallery .plusicon{ width: 100%; text-align: center; position: absolute; z-index: 100; bottom: 20px; }
.gallery .plusicon img{ height: 35px; }
.gallery .model{ font-size: 14px; margin-bottom: 20px;  }
.gallery p{ width: 100%; text-align: center; position: absolute; z-index: 100; bottom: 55px; color: #d9d9d9; }

/* event */
.event{ width: 100%; overflow: hidden; padding: 20px 10px; box-sizing: border-box; }
.event ul{ display: flex; }
.event li{ flex: 1; width: 100%; margin-right: 10px; text-align: center; }
.event li:last-child{ margin: 0; }
.event li img{ width: 170px; margin-bottom: 10px; }
.event h4{ height: 20px; font-size: 16px; line-height: 20px; color: #fff; margin-bottom: 5px; }
.event p{ color: #fff; }

/* ipohne5 & se */
@media screen and (max-width:320px){
    .event li img{ width: 145px; }
}

/* footer */

footer{ width: 100%; overflow: hidden; padding: 10px 10px; box-sizing: border-box; background-color: #000; border-top: 1px solid #666; }
footer .topmenu{ display: flex; }
footer .topmenu li{ flex: 1; text-align: center; margin-bottom: 35px; }
footer .topmenu li a{ font-size: 14px; color: #fff; }
footer h4{ width: 100%; height: 40px; font-size: 24px; line-height: 24px; text-align: center; font-weight: 700; color: #fff; }
footer .middelmenu{ width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px; }
footer .middelmenu li{ margin-right: 10px; }
footer .middelmenu li:last-child{ margin: 0; }
footer .middelmenu li a{ color: #fff; }
footer .sns{ width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px; }
footer .sns a{ float: left; margin-right: 15px; }
footer .sns a:last-child{ margin: 0; }
footer .sns img{ width: 30px; }

footer .fnav ul{ width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; border-top: 1px solid #666; }
footer .fnav li{ margin-right: 10px; margin-left: 30px; }
footer .fnav li:first-child:after{ content: '|'; color: #666; position: relative; left: 20px; top: 0; }
footer .fnav a{ color: #fff; font-size: 14px; }







